.successNotification {
  border: 5px solid green;
  background-color: gainsboro;
  padding: 10px;
  margin: 5px;
  font-size: 15px;
  color: green;
}

.errorNotification {
  border: 5px solid red;
  background-color: gainsboro;
  padding: 10px;
  margin: 5px;
  font-size: 15px;
  color: red;
}

.first-color {
  background: #d8dfe2;
}

.second-color {
  background: #71adb5;
}

.third-color {
  background: #176d81;
}

.fourth-color {
  background: #0d3446;
}
